<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Footer</title>
</head>
<body>
<footer id="fragmentTag" th:fragment="footer1">
  <div class="container">
  <h1>This tutorial is for Spring boot</h1>
  <h2>Self study is the best path to success.</h2>
  </div>
</footer>
<!--    Footer-->

</body>
</html>